body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.app-container {
  display: flex;

  .left-bar {
    width: 400px;
    background-color: #f0f0f0;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
  
    .logo {
      font-size: 1.5em;
      margin-bottom: 20px;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 10px; 
        margin-left:15px;
  
        a {
          text-decoration: none;
          color: #333;
          display: block;
          margin-bottom: 8px;
          padding: 8px;
          border-radius: 4px;

        }
      }
      a.active {
        background-color: #ccc;
        color: #fff;
      }
    }
  }

  .content {
    flex: 1;
    padding: 20px;
    height: 100vh;
  }

  .bottom-bar {
    background-color: #f0f0f0;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      padding: 8px;
      margin: 0 4px;
    }
  }
}