//My Theme Colors

$page-bg:#FFCC76;
$theme-primary-dark:  #cf983a;
$theme-primary-verylight:  #FFF0D6;
$theme-primary-light:  #FFC25A;
$theme-primary:  #FFA100;

$theme-secondary:  #1E1E1E; 
$theme-secondary-light:  #A7A6A6; 
$theme-secondary-verylight:  #E9E9E9; 
$theme-secondary-dark:black;

$theme-accent:#FFC500;
$theme-accent-light:#FFD95C;
$theme-accent-verylight:#FFEEB5;
/* -------------------------------------- */
$theme-yellow:#FFC500;
$theme-yellow-light:#FFC25A;
$theme-yellow-verylight:#FFF0D6;
$theme-yellow-page-bg:#FFCC76;
$theme-yellow-dark-page-bg:#000000;

$theme-blue:#003142;
$theme-blue-light:#a8e6fd;
$theme-blue-verylight:#ecf9ff;
$theme-blue-page-bg:#8292a0;
$theme-blue-dark-page-bg:#000000;

$theme-green:#1d3500;
$theme-green-light:#bcdd93;
$theme-green-verylight:#effddd;
$theme-green-page-bg:#768366;
$theme-green-dark-page-bg:#000000;


$theme-black:#000000;
$theme-black-light:#dadada;
$theme-black-verylight:#ebebeb;
$theme-black-page-bg:#999999;
$theme-black-dark-page-bg:#000000;

$theme-red:#720107;
$theme-red-light:#fda8ac;
$theme-red-verylight:#fdd7d8;
$theme-red-page-bg:#9b5b5e;
$theme-red-dark-page-bg:#000000;

$theme-maroon:#570130;
$theme-maroon-light:#fcb0d9;
$theme-maroon-verylight:#fde8f4;
$theme-maroon-page-bg:#85686e;
$theme-maroon-dark-page-bg:#000000;

$theme-christmas:#ff476b;
$theme-christmas-light:#ff98ad;
$theme-christmas-verylight:#fdcdd6;
$theme-christmas-page-bg:#85686e;
$theme-christmas-dark-page-bg:#000000;

$theme-diwali:#ff476b;
$theme-diwali-light:#ff98ad;
$theme-diwali-verylight:#fdcdd6;
$theme-diwali-page-bg:#85686e;
$theme-diwali-dark-page-bg:#000000;

$theme-thanks:#ff476b;
$theme-thanks-light:#ff98ad;
$theme-thanks-verylight:#fdcdd6;
$theme-thanks-page-bg:#85686e;
$theme-thanks-dark-page-bg:#000000;

