/* Dark mode */

.MuiButtonBase-root, .widget-title-border{border-bottom: 0px solid rgb(230, 230, 230)!important;}
.dark-mode{ 
    #root{background-color: transparent;}
    .container-xl{background-color:#ffc25a!important;}
    .bg-theme-accent{background-color: rgb(0, 0, 0)!important; color:white;}
    .border-theme-accent{border-color: rgb(0, 0, 0)!important;}
    .bg-theme-primary-verylight{background-color:#fdb435!important;}
    .bg-theme-primary{background-color:#2c2c2c!important;color:white;}
    footer .bg-theme-primary{background-color:#ffa200!important; color:Black!important;}
    .border-white{border-color: #2c2c2c33!important;}
    .MuiAccordion-root, .make-column-height-same, .widget{background: #ffc25a!important;}
    .mob-product-row{
        border-color: $theme-secondary!important; background-color:#ffcd77!important; 
        .title{background-color:$theme-secondary!important; color:white!important;}
    } 
    .theme-blue, .theme-green, .theme-yellow, .theme-red, .theme-maroon, .theme-black{
        background-color:transparent!important; 
    }    
    }

/* .theme-blue{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-blue-verylight!important;}}
.theme-green{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-green-verylight!important;}}
.theme-black{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-black-verylight!important;}}
.theme-red{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-red-verylight!important;}}
.theme-maroon{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-maroon-verylight!important;}} */
