
.theme-yellow.dark-mode{    background-color: $theme-yellow-dark-page-bg!important;}
.theme-blue.dark-mode{    background-color: $theme-blue-dark-page-bg!important;}
.theme-green.dark-mode{    background-color: $theme-green-dark-page-bg!important;} 
.theme-black.dark-mode, .theme-ads.dark-mode{    background-color: $theme-black-dark-page-bg!important;} 
.theme-red.dark-mode{    background-color: $theme-red-dark-page-bg!important;} 
.theme-maroon.dark-mode{    background-color: $theme-maroon-dark-page-bg!important;} 
.theme-christmas.dark-mode{    background-color: $theme-christmas-dark-page-bg!important;} 
.theme-diwali.dark-mode{    background-color: $theme-diwali-dark-page-bg!important;} 
.theme-thanks.dark-mode{    background-color: $theme-thanks-dark-page-bg!important;} 

/* --------------- */
.theme-yellow {
    background-color: $theme-yellow-page-bg;
    //.drawer-box .button, .box-button{background-color: $theme-yellow;}
    //.drawer-box .button:hover, .box-button:hover{background-color: $theme-yellow-verylight;}
}
.theme-green {
    background-color: $theme-green-page-bg;
    .drawer-box .button, .box-button{background-color: $theme-green-light;}
    .drawer-box .button:hover, .box-button:hover{background-color: $theme-green-verylight;}
}
.theme-blue {
    background-color: $theme-blue-page-bg;
    .drawer-box .button, .box-button{background-color: $theme-blue-light;}
    .drawer-box .button:hover, .box-button:hover{background-color: $theme-blue-verylight;}
}
.theme-maroon {
    background-color: $theme-maroon-page-bg;
    .drawer-box .button, .box-button{background-color: $theme-maroon-light;}
    .drawer-box .button:hover, .box-button:hover{background-color: $theme-maroon-verylight;}
} 
.theme-red {
    background-color: $theme-red-page-bg;
    .drawer-box .button, .box-button{background-color: $theme-red-light;}
    .drawer-box .button:hover, .box-button:hover{background-color: $theme-red-verylight;}
}
.theme-black, .theme-ads {
    background-color: $theme-black-page-bg;
    .drawer-box .button, .box-button,.dark-mode #burger-menu{background-color: $theme-black-light;}
    .drawer-box .button:hover, .box-button:hover{background-color: $theme-black-verylight;}
}
.theme-christmas {
    background-color: $theme-christmas-page-bg;
    .drawer-box .button, .box-button,.dark-mode #burger-menu{background-color: $theme-christmas-light;}
    .drawer-box .button:hover, .box-button:hover{background-color: $theme-christmas-verylight;}
}
.theme-diwali {
    background-color: $theme-diwali-page-bg;
    .drawer-box .button, .box-button,.dark-mode #burger-menu{background-color: $theme-diwali-light;}
    .drawer-box .button:hover, .box-button:hover{background-color: $theme-diwali-verylight;}
}
.theme-thanks {
    background-color: $theme-thanks-page-bg;
    .drawer-box .button, .box-button,.dark-mode #burger-menu{background-color: $theme-thanks-light;}
    .drawer-box .button:hover, .box-button:hover{background-color: $theme-thanks-verylight;}
}
.theme-thanks {
    background-color: $theme-thanks-page-bg;
    .drawer-box .button, .box-button,.dark-mode #burger-menu{background-color: $theme-thanks-light;}
    .drawer-box .button:hover, .box-button:hover{background-color: $theme-thanks-verylight;}
}
/* ---------------------------- */
.theme-yellow.dark-mode #burger-menu{background-color: $theme-yellow;svg{color:unset;}}
.theme-blue.dark-mode #burger-menu{background-color: $theme-blue;svg{color:unset;}}
.theme-green.dark-mode #burger-menu{background-color: $theme-green;svg{color:unset;}}
.theme-red.dark-mode #burger-menu{background-color: $theme-red;svg{color:unset;}}
.theme-black.dark-mode #burger-menu, .theme-ads.dark-mode #burger-menu{background-color: $theme-black;svg{color:unset;}}
.theme-maroon.dark-mode #burger-menu{background-color: $theme-maroon;svg{color:unset;}}
.theme-christmas.dark-mode #burger-menu{background-color: $theme-christmas;svg{color:unset;}}
.theme-diwali.dark-mode #burger-menu{background-color: $theme-diwali;svg{color:unset;}}
.theme-thanks.dark-mode #burger-menu{background-color: $theme-thanks;svg{color:unset;}}


/* ---------------------------- */
.dark-mode{
    .theme-blue, .theme-green, .theme-yellow, .theme-red, .theme-maroon, .theme-black, .theme-christmas, .theme-diwali, .theme-thanks{background-color:transparent!important;}  

    .theme-yellow{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-yellow-verylight!important;}}
    .theme-blue{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-blue-verylight!important;}}
    .theme-green{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-green-verylight!important;}}
    .theme-black, .theme-ads{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-black-verylight!important;}}
    .theme-red{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-red-verylight!important;}}
    .theme-maroon{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-maroon-verylight!important;}}
    .theme-christmas{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-christmas-verylight!important;}}
    .theme-diwali{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-diwali-verylight!important;}}
    .theme-thanks{.MuiAccordion-root, .make-column-height-same, .widget{background:$theme-thanks-verylight!important;}}
}
/* ---------------------------- */


/* Custom codes */
.theme-yellow .drawer-box .button{ background-color: $theme-primary;}
body.theme-thanks{
    background-image: url('https://uxdemo.ayatacommerce.com/invotools/invoice-templates/modern-v1/assets/images/season/bg-vertical-thanks.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: unset;
    .theme-thanks{background-color: unset!important;}
}


body.theme-christmas{
    background-image: url('https://uxdemo.ayatacommerce.com/invotools/invoice-templates/modern-v1/assets/images/season/bg-bot-christmas.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: unset;
    .theme-christmas{background-color: unset!important;}
}

body.theme-diwali{
    background-image: url('https://uxdemo.ayatacommerce.com/invotools/invoice-templates/modern-v1/assets/images/season/diwali-diya1.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: unset;
    .theme-diwali{background-color: unset!important;}
}
body.theme-ads{
    background-color:#a7a7a7 !important;
    background: url('https://uxdemo.ayatacommerce.com/invotools/invoice-templates/modern-v1/assets/images/season/ads1.png'), 
    url('https://uxdemo.ayatacommerce.com/invotools/invoice-templates/modern-v1/assets/images/season/ads1-watch.png'), 
    url('https://uxdemo.ayatacommerce.com/invotools/invoice-templates/modern-v1/assets/images/season/ads1-bg.png');
    background-position:  bottom right, top left, top right;
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-attachment: fixed, fixed, fixed;   
    .theme-ads{background-color: unset!important;}
}