body{     
    overflow: auto!important;
    //background-color: $page-bg;
}
*{transition: 0.5s;}
.shadow{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)!important;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)!important;
    -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)!important;
}
.wrapper{min-height:calc(100vh - 50px);}
.invoice-wrap{ 
    @include media-breakpoint-min(992px) {
        max-width:1100px; 
        //max-width:980px;  
        margin:0 auto;  
    }
    @include media-breakpoint-max(700px) {
        //max-width:666px; 
        margin:0 auto;  
    } 
    @include media-breakpoint-max(968px) {        
        padding:0 0.5em;  
    } 
 
}
.widget-row{line-height: 150%;}
.widget-row:not(:first-child){margin-top: 1em;}
.widget{
    //padding:1em;  
    padding:0;
    background-color: white;  
    @extend .shadow; 
    border-radius: 0.25em;
    overflow-y: hidden;
    line-height: 150%;
    @include media-breakpoint-min(568px) {height: 100%;}
    @include media-breakpoint-max(568px) { 
        padding:0.5em;
    }
}
.widget-title{
    padding:0.75em 0;
    display: block;}
.MuiButtonBase-root, .widget-title-border{
    border-bottom: 1px solid rgb(230, 230, 230)!important;
}
.MuiButtonBase-root{
    min-height: 50px!important;
}
.collapsed-accordion {
    min-height:unset;
  }
.expanded-accordion {
    @include media-breakpoint-min(568px) {min-height: 100%;}
  }
  .make-column-height-same{
    @include media-breakpoint-min(568px) {min-Height:100%;background-color:white;}
}
 @include media-breakpoint-max(967px) {
    .invo-3-col iframe{margin:0 auto;}
    .set-custom-width{width: 100%!important;}
 }

 @include media-breakpoint-max(568px) { .mob-hide{display: none !important;}} 
 @media only screen and (max-width: 967px) and (min-width: 569px) { .tab-hide{display:none!important;}}
 @include media-breakpoint-min(968px) { .des-hide{display:none!important;}}


 /* popup------------- */
#burger-menu, #burger-close1, #burger-static{ 
    /* display: block!important; 
    height: 38px!important; width: 38px!important; 
    background-repeat: no-repeat; background-position: center;
    border-radius: 0!important; 
    border: none!important;   
    cursor: pointer; */
    position: fixed; 
    top:5px; right:5px; 
    
}

/* #burger-menu, #burger-static{ 
    background-image: url('../img/burger.png');
    &:hover{background-image: url('../img/burger-hover.png');
        background-color: transparent!important;}
}
#burger-close{ 
    background-image: url('../img/close.png');     
    &:hover{background-image: url('../img/close-hover.png');}
}
#burger-static{
    position:unset!important; 
    top:unset!important; right:unset!important; 
    display: inline-block!important; margin-left: 0.5em;
    
} */
.box-button{ 
    transition: 0.25s;
    cursor: pointer;
    display: block;     
    font-size: 13px; @extend .t-c;    
    font-weight:500; 
    background-color: $theme-primary;
    border-radius: 0.3em;   
    line-height:normal; 
    width:38px; height: 38px; 
    border: 2px solid rgba(255, 255, 255, 0.4);
    @extend .flex-center;
    svg{width:28px; height: 28px;  }
    &:hover{
        background-color:white;
        border: 2px solid rgba(255, 255, 255, 0.4);
        svg{color:$theme-secondary;}
    }
    
 }
#burger-menu{
    background-color: $theme-secondary;     
    border: 2px solid rgba(0, 0, 0, 0.575)!important;    
    svg{color:rgba(255, 255, 255, 0.7);}
    &:hover{
        background-color:black; 
        svg{color:white;}
        border: 2px solid rgba(0, 0, 0); 
    } 
}
#burger-menu{
    @include media-breakpoint-max(1182px) {display:none!important;} 
}
.dark-mode #burger-menu{border: 2px solid rgba(255, 255, 255, 0.575)!important;}
.mobile-menu{
    @include media-breakpoint-min(1181px) {display:none!important;}
    padding:0 .5em;
     
}
#burger-close{ width:100px;}
.MuiDrawer-paper{ background-color:rgba(0, 0, 0, 0.9)!important;border-left: 1px solid rgba(255, 255, 255, 0.2);}
.drawer-wrap {padding:0 0.5em;}

.drawer-box .button{ 
    color: black;
    transition: 0.25s;
    cursor: pointer;
    display: block; 
    margin-bottom: 0.5em; 
    padding:1em 2em;
    font-size: 13px; 
    background-color: $theme-primary-light;
    border-radius: 0.5em;font-weight:500;
    display: flex;
    align-items: center;
    justify-content: start;
    line-height:normal; 
    text-align: left!important;
    svg{width:26px; height:auto; max-width:26px; padding-right:0.5em;fill:black;margin-bottom: -3px;}
    &:hover{background-color:white;} 
}


#mypopup {    
    .MuiPaper-root{   
        //overflow-y: unset!important;        
        @include media-breakpoint-min(968px) { min-width:350px!important;}
        margin:0!important;
        h2{ border-radius: 0.25em 0.25em 0 0; 
            padding: 0.5em 1em;                        
            margin:0; 
            font-size:15px;font-weight:600;
            height:50px; 
            background-color: $theme-secondary;
            color:white;
            span{flex-grow: 1;} 
            
            
        }
    }
}
.MuiDrawer-root{width:0px; }
.MuiAccordionDetails-root{padding:0!important;}

/* Footer */
footer{
    font-size:13px; 
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color:$theme-secondary;
    p, a{color:rgba(255, 255, 255, 0.7);font-size:13px; }
    a{  
        &:hover{color:$theme-primary-light;transition: 0s;}
    }
    padding:0.75em 0;
}

 /* Common CSS-----as bootstrap */
 .d-inline-block{display: inline-block;}
 .d-block{display: block;}
 .d-none{display: none;}
 .d-md-none{@include media-breakpoint-min(768px) { display: none;}}
 .d-sm-none{@include media-breakpoint-min(564px) { display: none;}}
 .d-lg-none{@include media-breakpoint-min(968px) { display: none;}}
 .d-md-block{@include media-breakpoint-min(768px) { display: block;}}
 .d-md-inline-block{@include media-breakpoint-min(768px) { display: inline-block;}}
 .d-sm-block{@include media-breakpoint-min(564px) { display: block;}}
 .d-lg-block{@include media-breakpoint-min(968px) { display: block;}}
.t-c{text-align: center;}
.t-r{text-align: right!important;}
.t-s{text-align: left!important;}
.t-j{text-align: justify!important;}
.p-0{padding:0!important;}
.m-0{margin:0!important;}
.p-1{padding:1em;}
.py-1{padding:1em 0;}
.img-fluid{max-width: 100%;}
.w-100{width:100%;} 
.h-100{height: 100%;}
.flex-center{display: flex; align-items: center; justify-content: center;}
.line-height-normal{line-height: 100%;}
.cursor-pointer{cursor: pointer;}
.shadow-none{    
    box-shadow:none!important;
    -webkit-box-shadow:none!important;
    -moz-box-shadow:none!important;
}
.bg-none{background-color: transparent!important;}
.me-1{margin-right:1em;}
.ms-1{margin-left:1em;}
.mt-1{margin-top:1em;}
.mb-1{margin-bottom:1em;}
.rounded{border-radius: 0.25em;}
.bg-white{background-color: white;}
.btn{ display: block;
    padding:0.5em .75em; background-color: $theme-primary; 
    &:hover{background-color: $theme-primary-dark;}
}
.btn-secondary{
    background-color: $theme-secondary; color: rgba(255, 255, 255, 0.658);
    &:hover{background-color: $theme-secondary-dark;color:white;}
}

.theme-btn{width:25px;height: 25px; display: inline-block; margin-left: 0.5em; @extend .shadow; @extend .rounded;  border: 2px solid rgba(255, 255, 255, 0.8);}
.theme-btn.active{border: 2px solid rgba(0, 0, 0, 0.8);}