.logo{ background-image: url(images/logo.svg)!important;}
.dark-mode header .logo{ background-image: url(images/logo-white.svg)!important;}
.shipment-logo a img{display:none;}
.shipment-logo a {background-image:url(images/shipment.png)!important;width:72px ; height:23px; display: block;}