*{transition: 0s!important;}
html, body{background-color: transparent!important;}
table tr:hover td, .container-xl a:hover, table td:hover{transition: 0.3s!important;} 
.container-xl{ display: block!important;}