@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@600&display=swap');
*{font-family:Noto Sans Arabic, sans-serif!important;}
.logo{background-position: top right;}
@media (min-width: 992px) {
    #page-title-lg .bg-theme-accent{min-width:200px;}
}
#order-info .order-info-row1 div.col-sm-4:first-child{text-align: right;}
#order-info .order-info-row2 div.col-sm-4:not(first-child){text-align: right;}

.product a.hover-underline{ text-align: right!important;}
.product .p-th-name,.product .p-name{text-align: right!important;}
.product .p-price , .product .p-h-price{text-align: left!important; padding-left: 0.5em;}

.product-total td:last-child{text-align: left!important;}

#sec-notes .colname-2{padding-left: 1rem !important;padding-right: 0rem !important;}

.link-icon, .shipment-icon{margin: 0 0.5em 0 0!important;}

.footer-left a span.ps-1{padding:0 0.5rem 0 0!important;}