#header-right{display: none!important;width:0px;}
header{padding-right:0!important;}
header .row .col-md-4{width:50%!important;}
header .col-md-4:nth-child(2){justify-content: end!important;padding: 0!important;margin-bottom: 0.4em;} 
.logo{ margin-top: 1em!important;margin-bottom: 1em!important;}

 .order-info-row1 .col-sm-4:nth-child(2),  .order-info-row2 .col-sm-4:nth-child(1){display: none!important;} 
 .order-info-row1 .col-sm-4,  .order-info-row2 .col-sm-4{width:50%!important;} 

.Xorder-info-row2, footer{display: none!important;} 
#sec-notes .align-self-stretch .my-notesX,.Xsec-sign-left{opacity:0!important;} 
main{padding-top:4px;}
.container-xl{max-width: 850px!important;}
.product td:nth-child(1) img{width: 25px; }
.product th:nth-child(3), .product td:nth-child(3),
.product th:nth-child(4), .product td:nth-child(4),
.product th:nth-child(6), .product td:nth-child(6),
.product th:nth-child(7), .product td:nth-child(7),
.product th:nth-child(8), .product td:nth-child(8)
{display: none!important;} 
.product th, .product td{padding: 0.5em 0!important;}
.sec-sign-left,.sec-sign-right{padding: 0!important;}
.sec-sign-left h4:not(td h4), .sec-sign-left p{display: none!important;} 

/* mobile */
@media screen and (max-width:768px) {
    header .row .col-md-4,#header-left,.order-info-row2 .col-sm-4{width:100%!important;}   
    .my-notes{display: none!important;}
}
.mob-products .hover-underline,.mob-pro-right tr:first-child{display: none!important;} 
.mob-products *{font-size:12px!important;}
.mob-product-row .p-2{padding:0.25em!important;}
.order-info-row2 {padding: 0 0 0 1em!important;}
.order-info-row2 *{padding: 0em!important;}
.order-info-row2 .mb-4{margin-bottom: 0em!important;}

.order-info-row1{padding:0.5em 0.5em 0.5em 1em!important;}
.order-info-row1 *{padding:0!important;}
.order-info-row2 *, .order-info-row1 *{ line-height: 150%!important;}

.my-notes *, .product *, .product-total *, .track-ship *, .order-info-row2 *, .order-info-row1 *{font-size: 14px!important; }
.sec-sign-right h4,.carbon{display: none!important;}