#header-right{display: none!important;width:0px;}
/* header .title{margin-left:225px;} */
/* header .row{flex-direction:row-reverse;} */
header{padding-right:0!important;}
header .row .col-md-4{width:50%!important;}
header .col-md-4:nth-child(2){justify-content: end!important;padding: 0!important;margin: 0.4em 0;} 
.logo{ margin-top: 1em!important;margin-bottom: 1em!important;}

 .order-info-row1 .col-sm-4:nth-child(2), .order-info-row2 .col-sm-4:nth-child(1),.order-info-row2 .col-sm-4:nth-child(3), 
 .order-info-row1 .col-sm-4:nth-child(3) span.d-block, 
 .order-info-row1 .col-sm-4:nth-child(1) h4:nth-child(2)
 {display: none!important;} 

 
 .order-info-row1 .col-sm-4:nth-child(1) span.d-block p {display: inline-block!important; ;} 
 .order-info-row1 .col-sm-4:nth-child(3){ text-align: end;} 
 .order-info-row1 .col-sm-4:nth-child(1){ padding-left: 0.5em!important;} 

 .order-info-row1 .col-sm-4,  .order-info-row2 .col-sm-4{width:50%!important;} 
 .order-info-row1{padding:0;}
 .order-info-row1 .col-sm-4:nth-child(1) span.d-block{text-align: start;}

/*  .order-info-row2{justify-content: center;} */
#sec-notes .align-self-stretch{padding:0!important; }
#sec-notes .colname-1 {max-width: unset;}
.product-total tr{  border-top:initial!important;}
.order-info-row2{padding: 0.25em!important;}
#sec-notes .align-self-stretch .my-notes {display: none!important;} 
main{padding-top:4px;}
.container-xl{max-width:500px!important;}
.product th:nth-child(3), .product td:nth-child(3),
.product th:nth-child(1), .product td:nth-child(1),
.product th:nth-child(4), .product td:nth-child(4),
.product th:nth-child(6), .product td:nth-child(6),
.product th:nth-child(7), .product td:nth-child(7)
{display: none!important;} 
.product{font-size:12px!important;}
.product td:nth-child(2), .product-total{font-size:13px!important;}
.product-total tr:last-child td{padding-right: 20px;}

.product th:nth-child(2), .product td:nth-child(2){padding: 1em 0 1em 1em!important;}
.sec-sign-left,.sec-sign-right{padding: 0!important;}
.sec-sign-left h4:not(td h4), .sec-sign-left p{display: none!important;} 

.sec-sign-right {display: none!important;} 
#sec-sign .justify-content-between{justify-content: center!important;padding: 0!important;}

#sec-sign .d-sm-flex{display: block!important;}
#sec-sign{width: 100%!important;padding:0 0.5em !important; margin-bottom:0.5em;}

/* mobile */
@media screen and (max-width:768px) {
    header .row .col-md-4,#header-left,.order-info-row2 .col-sm-4{width:100%!important;}   
}
.mob-products .hover-underline,.mob-pro-right tr:first-child{display: none!important;} 
.mob-products *{font-size:12px!important;}
.mob-product-row .p-2{padding:0.25em!important;}
.order-info-row2 .mb-4{margin-bottom: 0em!important;}

.my-notes *, .product *, .product-total *, .track-ship *, .order-info-row2 *, .order-info-row1 *, #sec-sign *, footer *{font-size: 13px!important; }
#sec-sign h5{display: none;}
.order-info-row2 br{display: none!important; width:10px; margin-left: 0.5em!important;}
.order-info-row2 .col-sm-4{width: 100%!important;}
.order-info-row2 b{margin-left: 0.5em!important;}

.logo{height: 70px!important;margin:0.25em 0!important;}
header .title{ padding: 1em 2em!important;margin-top: 0.4em; }
header.px-2 { padding-right:0.4em!important; }
.footer-left{width:100%;}
.footer-right{display: none;}