.neel-slider{
    padding-bottom:14px;
    .neelan-prev{
        left: 15px;
        @include media-breakpoint-max(768px){
            left: 2px;
        }
    }
    .neelan-next{
        right: 15px;
        @include media-breakpoint-max(768px){
            right: 2px;
        }
    }
    .slick-list{z-index:100;}
    .neelan-arrow{
        z-index:101; 
        position: absolute; 
        top: 46%;         
        cursor: pointer;
        @include media-breakpoint-min(968px){
            opacity:0 ;
        }
    }
    &:hover .neelan-arrow{
        @include media-breakpoint-min(968px){
            opacity:1 ;
        }
    }

    .slick-dots{
        z-index: 102;
        bottom:-10px;
        @include media-breakpoint-max(768px){
            bottom:-8px;
        }
        @include media-breakpoint-min(968px){
            opacity:0 ;
        } 
        
        li button, li{
            width: 35px;
            height: 8px; 
            @include media-breakpoint-max(768px){
                width: 45px;
                height: 10px;
            }           
        }
        li button:before{
            background-color: $theme-secondary; 
            content:'';
            width: 35px;
            height: 8px;              
           // @extend .shadow;
           @include media-breakpoint-max(768px){
                width: 45px;
                height: 10px;
             
            }
        }        
    }
    &:hover .slick-dots{
        @include media-breakpoint-min(968px){
            opacity:1 ;
        }
    }


}