@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&display=swap");
.bg-theme-primary {
  background-color: #FFA100;
}

.text-theme-primary {
  color: #FFA100;
}

.hover-text-theme-primary:hover {
  color: #FFA100 !important;
}

.hover-bg-theme-primary:hover {
  background-color: #FFA100;
}

.border-theme-primary {
  border-color: #FFA100 !important;
}

.btn-theme-primary {
  background-color: #FFA100;
}

.bg-theme-primary-light {
  background-color: #FFC25A;
}

.text-theme-primary-light {
  color: #FFC25A;
}

.hover-text-theme-primary-light:hover {
  color: #FFC25A !important;
}

.hover-bg-theme-primary-light:hover {
  background-color: #FFC25A;
}

.border-theme-primary-light {
  border-color: #FFC25A !important;
}

.btn-theme-primary-light {
  background-color: #FFC25A;
}

.bg-theme-primary-verylight {
  background-color: #FFF0D6;
}

.text-theme-primary-verylight {
  color: #FFF0D6;
}

.hover-text-theme-primary-verylight:hover {
  color: #FFF0D6 !important;
}

.hover-bg-theme-primary-verylight:hover {
  background-color: #FFF0D6;
}

.border-theme-primary-verylight {
  border-color: #FFF0D6 !important;
}

.btn-theme-primary-verylight {
  background-color: #FFF0D6;
}

.bg-theme-secondary {
  background-color: #1E1E1E;
}

.text-theme-secondary {
  color: #1E1E1E;
}

.hover-text-theme-secondary:hover {
  color: #1E1E1E !important;
}

.hover-bg-theme-secondary:hover {
  background-color: #1E1E1E;
}

.border-theme-secondary {
  border-color: #1E1E1E !important;
}

.btn-theme-secondary {
  background-color: #1E1E1E;
}

.bg-theme-secondary-light {
  background-color: #A7A6A6;
}

.text-theme-secondary-light {
  color: #A7A6A6;
}

.hover-text-theme-secondary-light:hover {
  color: #A7A6A6 !important;
}

.hover-bg-theme-secondary-light:hover {
  background-color: #A7A6A6;
}

.border-theme-secondary-light {
  border-color: #A7A6A6 !important;
}

.btn-theme-secondary-light {
  background-color: #A7A6A6;
}

.bg-theme-secondary-verylight {
  background-color: #E9E9E9;
}

.text-theme-secondary-verylight {
  color: #E9E9E9;
}

.hover-text-theme-secondary-verylight:hover {
  color: #E9E9E9 !important;
}

.hover-bg-theme-secondary-verylight:hover {
  background-color: #E9E9E9;
}

.border-theme-secondary-verylight {
  border-color: #E9E9E9 !important;
}

.btn-theme-secondary-verylight {
  background-color: #E9E9E9;
}

.bg-theme-accent {
  background-color: #FFC500;
}

.text-theme-accent {
  color: #FFC500;
}

.hover-text-theme-accent:hover {
  color: #FFC500 !important;
}

.hover-bg-theme-accent:hover {
  background-color: #FFC500;
}

.border-theme-accent {
  border-color: #FFC500 !important;
}

.btn-theme-accent {
  background-color: #FFC500;
}

.bg-theme-accent-light {
  background-color: #FFD95C;
}

.text-theme-accent-light {
  color: #FFD95C;
}

.hover-text-theme-accent-light:hover {
  color: #FFD95C !important;
}

.hover-bg-theme-accent-light:hover {
  background-color: #FFD95C;
}

.border-theme-accent-light {
  border-color: #FFD95C !important;
}

.btn-theme-accent-light {
  background-color: #FFD95C;
}

.bg-theme-accent-verylight {
  background-color: #FFEEB5;
}

.text-theme-accent-verylight {
  color: #FFEEB5;
}

.hover-text-theme-accent-verylight:hover {
  color: #FFEEB5 !important;
}

.hover-bg-theme-accent-verylight:hover {
  background-color: #FFEEB5;
}

.border-theme-accent-verylight {
  border-color: #FFEEB5 !important;
}

.btn-theme-accent-verylight {
  background-color: #FFEEB5;
}

.bg-theme-red {
  background-color: #C00000;
}

.text-theme-red {
  color: #C00000;
}

.hover-text-theme-red:hover {
  color: #C00000 !important;
}

.hover-bg-theme-red:hover {
  background-color: #C00000;
}

.border-theme-red {
  border-color: #C00000 !important;
}

.btn-theme-red {
  background-color: #C00000;
}

.bg-theme-red-light {
  background-color: #ff0000;
}

.text-theme-red-light {
  color: #ff0000;
}

.hover-text-theme-red-light:hover {
  color: #ff0000 !important;
}

.hover-bg-theme-red-light:hover {
  background-color: #ff0000;
}

.border-theme-red-light {
  border-color: #ff0000 !important;
}

.btn-theme-red-light {
  background-color: #ff0000;
}

.bg-theme-red-verylight {
  background-color: #ff3c3c;
}

.text-theme-red-verylight {
  color: #ff3c3c;
}

.hover-text-theme-red-verylight:hover {
  color: #ff3c3c !important;
}

.hover-bg-theme-red-verylight:hover {
  background-color: #ff3c3c;
}

.border-theme-red-verylight {
  border-color: #ff3c3c !important;
}

.btn-theme-red-verylight {
  background-color: #ff3c3c;
}

.bg-theme-blue {
  background-color: #00AADF;
}

.text-theme-blue {
  color: #00AADF;
}

.hover-text-theme-blue:hover {
  color: #00AADF !important;
}

.hover-bg-theme-blue:hover {
  background-color: #00AADF;
}

.border-theme-blue {
  border-color: #00AADF !important;
}

.btn-theme-blue {
  background-color: #00AADF;
}

.bg-theme-blue-light {
  background-color: #2bceff;
}

.text-theme-blue-light {
  color: #2bceff;
}

.hover-text-theme-blue-light:hover {
  color: #2bceff !important;
}

.hover-bg-theme-blue-light:hover {
  background-color: #2bceff;
}

.border-theme-blue-light {
  border-color: #2bceff !important;
}

.btn-theme-blue-light {
  background-color: #2bceff;
}

.bg-theme-blue-verylight {
  background-color: #64dbff;
}

.text-theme-blue-verylight {
  color: #64dbff;
}

.hover-text-theme-blue-verylight:hover {
  color: #64dbff !important;
}

.hover-bg-theme-blue-verylight:hover {
  background-color: #64dbff;
}

.border-theme-blue-verylight {
  border-color: #64dbff !important;
}

.btn-theme-blue-verylight {
  background-color: #64dbff;
}

.bg-theme-orange {
  background-color: #fe631b;
}

.text-theme-orange {
  color: #fe631b;
}

.hover-text-theme-orange:hover {
  color: #fe631b !important;
}

.hover-bg-theme-orange:hover {
  background-color: #fe631b;
}

.border-theme-orange {
  border-color: #fe631b !important;
}

.btn-theme-orange {
  background-color: #fe631b;
}

.bg-theme-orange-light {
  background-color: #ff7f43;
}

.text-theme-orange-light {
  color: #ff7f43;
}

.hover-text-theme-orange-light:hover {
  color: #ff7f43 !important;
}

.hover-bg-theme-orange-light:hover {
  background-color: #ff7f43;
}

.border-theme-orange-light {
  border-color: #ff7f43 !important;
}

.btn-theme-orange-light {
  background-color: #ff7f43;
}

.bg-theme-orange-verylight {
  background-color: #fe8d59;
}

.text-theme-orange-verylight {
  color: #fe8d59;
}

.hover-text-theme-orange-verylight:hover {
  color: #fe8d59 !important;
}

.hover-bg-theme-orange-verylight:hover {
  background-color: #fe8d59;
}

.border-theme-orange-verylight {
  border-color: #fe8d59 !important;
}

.btn-theme-orange-verylight {
  background-color: #fe8d59;
}

.bg-theme-green {
  background-color: #21801F;
}

.text-theme-green {
  color: #21801F;
}

.hover-text-theme-green:hover {
  color: #21801F !important;
}

.hover-bg-theme-green:hover {
  background-color: #21801F;
}

.border-theme-green {
  border-color: #21801F !important;
}

.btn-theme-green {
  background-color: #21801F;
}

.bg-theme-green-light {
  background-color: #14a312;
}

.text-theme-green-light {
  color: #14a312;
}

.hover-text-theme-green-light:hover {
  color: #14a312 !important;
}

.hover-bg-theme-green-light:hover {
  background-color: #14a312;
}

.border-theme-green-light {
  border-color: #14a312 !important;
}

.btn-theme-green-light {
  background-color: #14a312;
}

.bg-theme-green-verylight {
  background-color: #22ef1e;
}

.text-theme-green-verylight {
  color: #22ef1e;
}

.hover-text-theme-green-verylight:hover {
  color: #22ef1e !important;
}

.hover-bg-theme-green-verylight:hover {
  background-color: #22ef1e;
}

.border-theme-green-verylight {
  border-color: #22ef1e !important;
}

.btn-theme-green-verylight {
  background-color: #22ef1e;
}

.hover-underline:hover {
  text-decoration: underline;
  color: black;
}

.hover:hover .img-hover-zoom {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.hover .img-hover-zoom {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.border-red {
  border-color: #1E1E1E !important;
  border-width: 2px !important;
}

.btn-theme-primary {
  color: #1E1E1E;
}
.btn-theme-primary:hover {
  background-color: #FFC25A;
  color: #000000;
}

.btn-theme-accent {
  color: #1E1E1E;
}
.btn-theme-accent:hover {
  background-color: #FFD95C;
  color: #000000;
}

/* -----------color-shades-start--------------*/
/* bg-black-100, bg-white-100, text-black-100, text-white-100 */
/* -------- */
.bg-black-1 {
  background-color: #e6e6e6;
}

.text-black-1, .text-black-1 * {
  color: #e6e6e6;
}

.border-black-1 {
  border-color: #e6e6e6 !important;
}

.bg-black-2 {
  background-color: #cccccc;
}

.text-black-2, .text-black-2 * {
  color: #cccccc;
}

.border-black-2 {
  border-color: #cccccc !important;
}

.bg-black-3 {
  background-color: #b3b3b3;
}

.text-black-3, .text-black-3 * {
  color: #b3b3b3;
}

.border-black-3 {
  border-color: #b3b3b3 !important;
}

.bg-black-4 {
  background-color: #999999;
}

.text-black-4, .text-black-4 * {
  color: #999999;
}

.border-black-4 {
  border-color: #999999 !important;
}

.bg-black-5 {
  background-color: gray;
}

.text-black-5, .text-black-5 * {
  color: gray;
}

.border-black-5 {
  border-color: gray !important;
}

.bg-black-6 {
  background-color: #666666;
}

.text-black-6, .text-black-6 * {
  color: #666666;
}

.border-black-6 {
  border-color: #666666 !important;
}

.bg-black-7 {
  background-color: #4d4d4d;
}

.text-black-7, .text-black-7 * {
  color: #4d4d4d;
}

.border-black-7 {
  border-color: #4d4d4d !important;
}

.bg-black-8 {
  background-color: #333333;
}

.text-black-8, .text-black-8 * {
  color: #333333;
}

.border-black-8 {
  border-color: #333333 !important;
}

.bg-black-9 {
  background-color: #1a1a1a;
}

.text-black-9, .text-black-9 * {
  color: #1a1a1a;
}

.border-black-9 {
  border-color: #1a1a1a !important;
}

.bg-white-1 {
  background-color: white;
}

.text-white-1, .text-white-1 * {
  color: white;
}

.border-white-1 {
  border-color: white !important;
}

.bg-white-2 {
  background-color: white;
}

.text-white-2, .text-white-2 * {
  color: white;
}

.border-white-2 {
  border-color: white !important;
}

.bg-white-3 {
  background-color: white;
}

.text-white-3, .text-white-3 * {
  color: white;
}

.border-white-3 {
  border-color: white !important;
}

.bg-white-4 {
  background-color: white;
}

.text-white-4, .text-white-4 * {
  color: white;
}

.border-white-4 {
  border-color: white !important;
}

.bg-white-5 {
  background-color: white;
}

.text-white-5, .text-white-5 * {
  color: white;
}

.border-white-5 {
  border-color: white !important;
}

.bg-white-6 {
  background-color: white;
}

.text-white-6, .text-white-6 * {
  color: white;
}

.border-white-6 {
  border-color: white !important;
}

.bg-white-7 {
  background-color: white;
}

.text-white-7, .text-white-7 * {
  color: white;
}

.border-white-7 {
  border-color: white !important;
}

.bg-white-8 {
  background-color: white;
}

.text-white-8, .text-white-8 * {
  color: white;
}

.border-white-8 {
  border-color: white !important;
}

.bg-white-9 {
  background-color: white;
}

.text-white-9, .text-white-9 * {
  color: white;
}

.border-white-9 {
  border-color: white !important;
}

/* ---------- */
.bg-theme-primary-1 {
  background-color: #fff6e6;
}

.text-theme-primary-1, .text-theme-primary-1 * {
  color: #fff6e6;
}

.border-theme-primary-1 {
  border-color: #fff6e6 !important;
}

.bg-theme-primary-2 {
  background-color: #ffeccc;
}

.text-theme-primary-2, .text-theme-primary-2 * {
  color: #ffeccc;
}

.border-theme-primary-2 {
  border-color: #ffeccc !important;
}

.bg-theme-primary-3 {
  background-color: #ffe3b3;
}

.text-theme-primary-3, .text-theme-primary-3 * {
  color: #ffe3b3;
}

.border-theme-primary-3 {
  border-color: #ffe3b3 !important;
}

.bg-theme-primary-4 {
  background-color: #ffd999;
}

.text-theme-primary-4, .text-theme-primary-4 * {
  color: #ffd999;
}

.border-theme-primary-4 {
  border-color: #ffd999 !important;
}

.bg-theme-primary-5 {
  background-color: #ffd080;
}

.text-theme-primary-5, .text-theme-primary-5 * {
  color: #ffd080;
}

.border-theme-primary-5 {
  border-color: #ffd080 !important;
}

.bg-theme-primary-6 {
  background-color: #ffc766;
}

.text-theme-primary-6, .text-theme-primary-6 * {
  color: #ffc766;
}

.border-theme-primary-6 {
  border-color: #ffc766 !important;
}

.bg-theme-primary-7 {
  background-color: #ffbd4d;
}

.text-theme-primary-7, .text-theme-primary-7 * {
  color: #ffbd4d;
}

.border-theme-primary-7 {
  border-color: #ffbd4d !important;
}

.bg-theme-primary-8 {
  background-color: #ffb433;
}

.text-theme-primary-8, .text-theme-primary-8 * {
  color: #ffb433;
}

.border-theme-primary-8 {
  border-color: #ffb433 !important;
}

.bg-theme-primary-9 {
  background-color: #ffaa1a;
}

.text-theme-primary-9, .text-theme-primary-9 * {
  color: #ffaa1a;
}

.border-theme-primary-9 {
  border-color: #ffaa1a !important;
}

.bg-theme-primary-11 {
  background-color: #e69100;
}

.text-theme-primary-11, .text-theme-primary-11 * {
  color: #e69100;
}

.border-theme-primary-11 {
  border-color: #e69100 !important;
}

.bg-theme-primary-12 {
  background-color: #cc8100;
}

.text-theme-primary-12, .text-theme-primary-12 * {
  color: #cc8100;
}

.border-theme-primary-12 {
  border-color: #cc8100 !important;
}

.bg-theme-primary-13 {
  background-color: #b37100;
}

.text-theme-primary-13, .text-theme-primary-13 * {
  color: #b37100;
}

.border-theme-primary-13 {
  border-color: #b37100 !important;
}

.bg-theme-primary-14 {
  background-color: #996100;
}

.text-theme-primary-14, .text-theme-primary-14 * {
  color: #996100;
}

.border-theme-primary-14 {
  border-color: #996100 !important;
}

.bg-theme-primary-15 {
  background-color: #805100;
}

.text-theme-primary-15, .text-theme-primary-15 * {
  color: #805100;
}

.border-theme-primary-15 {
  border-color: #805100 !important;
}

.bg-theme-primary-16 {
  background-color: #664000;
}

.text-theme-primary-16, .text-theme-primary-16 * {
  color: #664000;
}

.border-theme-primary-16 {
  border-color: #664000 !important;
}

.bg-theme-primary-17 {
  background-color: #4d3000;
}

.text-theme-primary-17, .text-theme-primary-17 * {
  color: #4d3000;
}

.border-theme-primary-17 {
  border-color: #4d3000 !important;
}

.bg-theme-primary-18 {
  background-color: #332000;
}

.text-theme-primary-18, .text-theme-primary-18 * {
  color: #332000;
}

.border-theme-primary-18 {
  border-color: #332000 !important;
}

.bg-theme-primary-19 {
  background-color: #1a1000;
}

.text-theme-primary-19, .text-theme-primary-19 * {
  color: #1a1000;
}

.border-theme-primary-19 {
  border-color: #1a1000 !important;
}

/* ---------- */
.bg-theme-secondary-1 {
  background-color: #e9e9e9;
}

.text-theme-secondary-1, .text-theme-secondary-1 * {
  color: #e9e9e9;
}

.border-theme-secondary-1 {
  border-color: #e9e9e9 !important;
}

.bg-theme-secondary-2 {
  background-color: #d2d2d2;
}

.text-theme-secondary-2, .text-theme-secondary-2 * {
  color: #d2d2d2;
}

.border-theme-secondary-2 {
  border-color: #d2d2d2 !important;
}

.bg-theme-secondary-3 {
  background-color: #bcbcbc;
}

.text-theme-secondary-3, .text-theme-secondary-3 * {
  color: #bcbcbc;
}

.border-theme-secondary-3 {
  border-color: #bcbcbc !important;
}

.bg-theme-secondary-4 {
  background-color: #a5a5a5;
}

.text-theme-secondary-4, .text-theme-secondary-4 * {
  color: #a5a5a5;
}

.border-theme-secondary-4 {
  border-color: #a5a5a5 !important;
}

.bg-theme-secondary-5 {
  background-color: #8f8f8f;
}

.text-theme-secondary-5, .text-theme-secondary-5 * {
  color: #8f8f8f;
}

.border-theme-secondary-5 {
  border-color: #8f8f8f !important;
}

.bg-theme-secondary-6 {
  background-color: #787878;
}

.text-theme-secondary-6, .text-theme-secondary-6 * {
  color: #787878;
}

.border-theme-secondary-6 {
  border-color: #787878 !important;
}

.bg-theme-secondary-7 {
  background-color: #626262;
}

.text-theme-secondary-7, .text-theme-secondary-7 * {
  color: #626262;
}

.border-theme-secondary-7 {
  border-color: #626262 !important;
}

.bg-theme-secondary-8 {
  background-color: #4b4b4b;
}

.text-theme-secondary-8, .text-theme-secondary-8 * {
  color: #4b4b4b;
}

.border-theme-secondary-8 {
  border-color: #4b4b4b !important;
}

.bg-theme-secondary-9 {
  background-color: #353535;
}

.text-theme-secondary-9, .text-theme-secondary-9 * {
  color: #353535;
}

.border-theme-secondary-9 {
  border-color: #353535 !important;
}

.bg-theme-secondary-11 {
  background-color: #1b1b1b;
}

.text-theme-secondary-11, .text-theme-secondary-11 * {
  color: #1b1b1b;
}

.border-theme-secondary-11 {
  border-color: #1b1b1b !important;
}

.bg-theme-secondary-12 {
  background-color: #181818;
}

.text-theme-secondary-12, .text-theme-secondary-12 * {
  color: #181818;
}

.border-theme-secondary-12 {
  border-color: #181818 !important;
}

.bg-theme-secondary-13 {
  background-color: #151515;
}

.text-theme-secondary-13, .text-theme-secondary-13 * {
  color: #151515;
}

.border-theme-secondary-13 {
  border-color: #151515 !important;
}

.bg-theme-secondary-14 {
  background-color: #121212;
}

.text-theme-secondary-14, .text-theme-secondary-14 * {
  color: #121212;
}

.border-theme-secondary-14 {
  border-color: #121212 !important;
}

.bg-theme-secondary-15 {
  background-color: #0f0f0f;
}

.text-theme-secondary-15, .text-theme-secondary-15 * {
  color: #0f0f0f;
}

.border-theme-secondary-15 {
  border-color: #0f0f0f !important;
}

.bg-theme-secondary-16 {
  background-color: #0c0c0c;
}

.text-theme-secondary-16, .text-theme-secondary-16 * {
  color: #0c0c0c;
}

.border-theme-secondary-16 {
  border-color: #0c0c0c !important;
}

.bg-theme-secondary-17 {
  background-color: #090909;
}

.text-theme-secondary-17, .text-theme-secondary-17 * {
  color: #090909;
}

.border-theme-secondary-17 {
  border-color: #090909 !important;
}

.bg-theme-secondary-18 {
  background-color: #060606;
}

.text-theme-secondary-18, .text-theme-secondary-18 * {
  color: #060606;
}

.border-theme-secondary-18 {
  border-color: #060606 !important;
}

.bg-theme-secondary-19 {
  background-color: #030303;
}

.text-theme-secondary-19, .text-theme-secondary-19 * {
  color: #030303;
}

.border-theme-secondary-19 {
  border-color: #030303 !important;
}

/* ---------- */
.bg-theme-accent-1 {
  background-color: #fff9e6;
}

.text-theme-accent-1, .text-theme-accent-1 * {
  color: #fff9e6;
}

.border-theme-accent-1 {
  border-color: #fff9e6 !important;
}

.bg-theme-accent-2 {
  background-color: #fff3cc;
}

.text-theme-accent-2, .text-theme-accent-2 * {
  color: #fff3cc;
}

.border-theme-accent-2 {
  border-color: #fff3cc !important;
}

.bg-theme-accent-3 {
  background-color: #ffeeb3;
}

.text-theme-accent-3, .text-theme-accent-3 * {
  color: #ffeeb3;
}

.border-theme-accent-3 {
  border-color: #ffeeb3 !important;
}

.bg-theme-accent-4 {
  background-color: #ffe899;
}

.text-theme-accent-4, .text-theme-accent-4 * {
  color: #ffe899;
}

.border-theme-accent-4 {
  border-color: #ffe899 !important;
}

.bg-theme-accent-5 {
  background-color: #ffe280;
}

.text-theme-accent-5, .text-theme-accent-5 * {
  color: #ffe280;
}

.border-theme-accent-5 {
  border-color: #ffe280 !important;
}

.bg-theme-accent-6 {
  background-color: #ffdc66;
}

.text-theme-accent-6, .text-theme-accent-6 * {
  color: #ffdc66;
}

.border-theme-accent-6 {
  border-color: #ffdc66 !important;
}

.bg-theme-accent-7 {
  background-color: #ffd64d;
}

.text-theme-accent-7, .text-theme-accent-7 * {
  color: #ffd64d;
}

.border-theme-accent-7 {
  border-color: #ffd64d !important;
}

.bg-theme-accent-8 {
  background-color: #ffd133;
}

.text-theme-accent-8, .text-theme-accent-8 * {
  color: #ffd133;
}

.border-theme-accent-8 {
  border-color: #ffd133 !important;
}

.bg-theme-accent-9 {
  background-color: #ffcb1a;
}

.text-theme-accent-9, .text-theme-accent-9 * {
  color: #ffcb1a;
}

.border-theme-accent-9 {
  border-color: #ffcb1a !important;
}

.bg-theme-accent-11 {
  background-color: #e6b100;
}

.text-theme-accent-11, .text-theme-accent-11 * {
  color: #e6b100;
}

.border-theme-accent-11 {
  border-color: #e6b100 !important;
}

.bg-theme-accent-12 {
  background-color: #cc9e00;
}

.text-theme-accent-12, .text-theme-accent-12 * {
  color: #cc9e00;
}

.border-theme-accent-12 {
  border-color: #cc9e00 !important;
}

.bg-theme-accent-13 {
  background-color: #b38a00;
}

.text-theme-accent-13, .text-theme-accent-13 * {
  color: #b38a00;
}

.border-theme-accent-13 {
  border-color: #b38a00 !important;
}

.bg-theme-accent-14 {
  background-color: #997600;
}

.text-theme-accent-14, .text-theme-accent-14 * {
  color: #997600;
}

.border-theme-accent-14 {
  border-color: #997600 !important;
}

.bg-theme-accent-15 {
  background-color: #806300;
}

.text-theme-accent-15, .text-theme-accent-15 * {
  color: #806300;
}

.border-theme-accent-15 {
  border-color: #806300 !important;
}

.bg-theme-accent-16 {
  background-color: #664f00;
}

.text-theme-accent-16, .text-theme-accent-16 * {
  color: #664f00;
}

.border-theme-accent-16 {
  border-color: #664f00 !important;
}

.bg-theme-accent-17 {
  background-color: #4d3b00;
}

.text-theme-accent-17, .text-theme-accent-17 * {
  color: #4d3b00;
}

.border-theme-accent-17 {
  border-color: #4d3b00 !important;
}

.bg-theme-accent-18 {
  background-color: #332700;
}

.text-theme-accent-18, .text-theme-accent-18 * {
  color: #332700;
}

.border-theme-accent-18 {
  border-color: #332700 !important;
}

.bg-theme-accent-19 {
  background-color: #1a1400;
}

.text-theme-accent-19, .text-theme-accent-19 * {
  color: #1a1400;
}

.border-theme-accent-19 {
  border-color: #1a1400 !important;
}

/* ---------- */
.bg-theme-red-1 {
  background-color: #f9e6e6;
}

.text-theme-red-1, .text-theme-red-1 * {
  color: #f9e6e6;
}

.border-theme-red-1 {
  border-color: #f9e6e6 !important;
}

.bg-theme-red-2 {
  background-color: #f2cccc;
}

.text-theme-red-2, .text-theme-red-2 * {
  color: #f2cccc;
}

.border-theme-red-2 {
  border-color: #f2cccc !important;
}

.bg-theme-red-3 {
  background-color: #ecb3b3;
}

.text-theme-red-3, .text-theme-red-3 * {
  color: #ecb3b3;
}

.border-theme-red-3 {
  border-color: #ecb3b3 !important;
}

.bg-theme-red-4 {
  background-color: #e69999;
}

.text-theme-red-4, .text-theme-red-4 * {
  color: #e69999;
}

.border-theme-red-4 {
  border-color: #e69999 !important;
}

.bg-theme-red-5 {
  background-color: #e08080;
}

.text-theme-red-5, .text-theme-red-5 * {
  color: #e08080;
}

.border-theme-red-5 {
  border-color: #e08080 !important;
}

.bg-theme-red-6 {
  background-color: #d96666;
}

.text-theme-red-6, .text-theme-red-6 * {
  color: #d96666;
}

.border-theme-red-6 {
  border-color: #d96666 !important;
}

.bg-theme-red-7 {
  background-color: #d34d4d;
}

.text-theme-red-7, .text-theme-red-7 * {
  color: #d34d4d;
}

.border-theme-red-7 {
  border-color: #d34d4d !important;
}

.bg-theme-red-8 {
  background-color: #cd3333;
}

.text-theme-red-8, .text-theme-red-8 * {
  color: #cd3333;
}

.border-theme-red-8 {
  border-color: #cd3333 !important;
}

.bg-theme-red-9 {
  background-color: #c61a1a;
}

.text-theme-red-9, .text-theme-red-9 * {
  color: #c61a1a;
}

.border-theme-red-9 {
  border-color: #c61a1a !important;
}

.bg-theme-red-11 {
  background-color: #ad0000;
}

.text-theme-red-11, .text-theme-red-11 * {
  color: #ad0000;
}

.border-theme-red-11 {
  border-color: #ad0000 !important;
}

.bg-theme-red-12 {
  background-color: #9a0000;
}

.text-theme-red-12, .text-theme-red-12 * {
  color: #9a0000;
}

.border-theme-red-12 {
  border-color: #9a0000 !important;
}

.bg-theme-red-13 {
  background-color: #860000;
}

.text-theme-red-13, .text-theme-red-13 * {
  color: #860000;
}

.border-theme-red-13 {
  border-color: #860000 !important;
}

.bg-theme-red-14 {
  background-color: #730000;
}

.text-theme-red-14, .text-theme-red-14 * {
  color: #730000;
}

.border-theme-red-14 {
  border-color: #730000 !important;
}

.bg-theme-red-15 {
  background-color: #600000;
}

.text-theme-red-15, .text-theme-red-15 * {
  color: #600000;
}

.border-theme-red-15 {
  border-color: #600000 !important;
}

.bg-theme-red-16 {
  background-color: #4d0000;
}

.text-theme-red-16, .text-theme-red-16 * {
  color: #4d0000;
}

.border-theme-red-16 {
  border-color: #4d0000 !important;
}

.bg-theme-red-17 {
  background-color: #3a0000;
}

.text-theme-red-17, .text-theme-red-17 * {
  color: #3a0000;
}

.border-theme-red-17 {
  border-color: #3a0000 !important;
}

.bg-theme-red-18 {
  background-color: #260000;
}

.text-theme-red-18, .text-theme-red-18 * {
  color: #260000;
}

.border-theme-red-18 {
  border-color: #260000 !important;
}

.bg-theme-red-19 {
  background-color: #130000;
}

.text-theme-red-19, .text-theme-red-19 * {
  color: #130000;
}

.border-theme-red-19 {
  border-color: #130000 !important;
}

/* ---------- */
.bg-theme-green-1 {
  background-color: #e9f2e9;
}

.text-theme-green-1, .text-theme-green-1 * {
  color: #e9f2e9;
}

.border-theme-green-1 {
  border-color: #e9f2e9 !important;
}

.bg-theme-green-2 {
  background-color: #d3e6d2;
}

.text-theme-green-2, .text-theme-green-2 * {
  color: #d3e6d2;
}

.border-theme-green-2 {
  border-color: #d3e6d2 !important;
}

.bg-theme-green-3 {
  background-color: #bcd9bc;
}

.text-theme-green-3, .text-theme-green-3 * {
  color: #bcd9bc;
}

.border-theme-green-3 {
  border-color: #bcd9bc !important;
}

.bg-theme-green-4 {
  background-color: #a6cca5;
}

.text-theme-green-4, .text-theme-green-4 * {
  color: #a6cca5;
}

.border-theme-green-4 {
  border-color: #a6cca5 !important;
}

.bg-theme-green-5 {
  background-color: #90c08f;
}

.text-theme-green-5, .text-theme-green-5 * {
  color: #90c08f;
}

.border-theme-green-5 {
  border-color: #90c08f !important;
}

.bg-theme-green-6 {
  background-color: #7ab379;
}

.text-theme-green-6, .text-theme-green-6 * {
  color: #7ab379;
}

.border-theme-green-6 {
  border-color: #7ab379 !important;
}

.bg-theme-green-7 {
  background-color: #64a662;
}

.text-theme-green-7, .text-theme-green-7 * {
  color: #64a662;
}

.border-theme-green-7 {
  border-color: #64a662 !important;
}

.bg-theme-green-8 {
  background-color: #4d994c;
}

.text-theme-green-8, .text-theme-green-8 * {
  color: #4d994c;
}

.border-theme-green-8 {
  border-color: #4d994c !important;
}

.bg-theme-green-9 {
  background-color: #378d35;
}

.text-theme-green-9, .text-theme-green-9 * {
  color: #378d35;
}

.border-theme-green-9 {
  border-color: #378d35 !important;
}

.bg-theme-green-11 {
  background-color: #1e731c;
}

.text-theme-green-11, .text-theme-green-11 * {
  color: #1e731c;
}

.border-theme-green-11 {
  border-color: #1e731c !important;
}

.bg-theme-green-12 {
  background-color: #1a6619;
}

.text-theme-green-12, .text-theme-green-12 * {
  color: #1a6619;
}

.border-theme-green-12 {
  border-color: #1a6619 !important;
}

.bg-theme-green-13 {
  background-color: #175a16;
}

.text-theme-green-13, .text-theme-green-13 * {
  color: #175a16;
}

.border-theme-green-13 {
  border-color: #175a16 !important;
}

.bg-theme-green-14 {
  background-color: #144d13;
}

.text-theme-green-14, .text-theme-green-14 * {
  color: #144d13;
}

.border-theme-green-14 {
  border-color: #144d13 !important;
}

.bg-theme-green-15 {
  background-color: #114010;
}

.text-theme-green-15, .text-theme-green-15 * {
  color: #114010;
}

.border-theme-green-15 {
  border-color: #114010 !important;
}

.bg-theme-green-16 {
  background-color: #0d330c;
}

.text-theme-green-16, .text-theme-green-16 * {
  color: #0d330c;
}

.border-theme-green-16 {
  border-color: #0d330c !important;
}

.bg-theme-green-17 {
  background-color: #0a2609;
}

.text-theme-green-17, .text-theme-green-17 * {
  color: #0a2609;
}

.border-theme-green-17 {
  border-color: #0a2609 !important;
}

.bg-theme-green-18 {
  background-color: #071a06;
}

.text-theme-green-18, .text-theme-green-18 * {
  color: #071a06;
}

.border-theme-green-18 {
  border-color: #071a06 !important;
}

.bg-theme-green-19 {
  background-color: #030d03;
}

.text-theme-green-19, .text-theme-green-19 * {
  color: #030d03;
}

.border-theme-green-19 {
  border-color: #030d03 !important;
}

/* ---------- */
.bg-theme-blue-1 {
  background-color: #e6f7fc;
}

.text-theme-blue-1, .text-theme-blue-1 * {
  color: #e6f7fc;
}

.border-theme-blue-1 {
  border-color: #e6f7fc !important;
}

.bg-theme-blue-2 {
  background-color: #cceef9;
}

.text-theme-blue-2, .text-theme-blue-2 * {
  color: #cceef9;
}

.border-theme-blue-2 {
  border-color: #cceef9 !important;
}

.bg-theme-blue-3 {
  background-color: #b3e6f5;
}

.text-theme-blue-3, .text-theme-blue-3 * {
  color: #b3e6f5;
}

.border-theme-blue-3 {
  border-color: #b3e6f5 !important;
}

.bg-theme-blue-4 {
  background-color: #99ddf2;
}

.text-theme-blue-4, .text-theme-blue-4 * {
  color: #99ddf2;
}

.border-theme-blue-4 {
  border-color: #99ddf2 !important;
}

.bg-theme-blue-5 {
  background-color: #80d5ef;
}

.text-theme-blue-5, .text-theme-blue-5 * {
  color: #80d5ef;
}

.border-theme-blue-5 {
  border-color: #80d5ef !important;
}

.bg-theme-blue-6 {
  background-color: #66ccec;
}

.text-theme-blue-6, .text-theme-blue-6 * {
  color: #66ccec;
}

.border-theme-blue-6 {
  border-color: #66ccec !important;
}

.bg-theme-blue-7 {
  background-color: #4dc4e9;
}

.text-theme-blue-7, .text-theme-blue-7 * {
  color: #4dc4e9;
}

.border-theme-blue-7 {
  border-color: #4dc4e9 !important;
}

.bg-theme-blue-8 {
  background-color: #33bbe5;
}

.text-theme-blue-8, .text-theme-blue-8 * {
  color: #33bbe5;
}

.border-theme-blue-8 {
  border-color: #33bbe5 !important;
}

.bg-theme-blue-9 {
  background-color: #1ab3e2;
}

.text-theme-blue-9, .text-theme-blue-9 * {
  color: #1ab3e2;
}

.border-theme-blue-9 {
  border-color: #1ab3e2 !important;
}

.bg-theme-blue-11 {
  background-color: #0099c9;
}

.text-theme-blue-11, .text-theme-blue-11 * {
  color: #0099c9;
}

.border-theme-blue-11 {
  border-color: #0099c9 !important;
}

.bg-theme-blue-12 {
  background-color: #0088b2;
}

.text-theme-blue-12, .text-theme-blue-12 * {
  color: #0088b2;
}

.border-theme-blue-12 {
  border-color: #0088b2 !important;
}

.bg-theme-blue-13 {
  background-color: #00779c;
}

.text-theme-blue-13, .text-theme-blue-13 * {
  color: #00779c;
}

.border-theme-blue-13 {
  border-color: #00779c !important;
}

.bg-theme-blue-14 {
  background-color: #006686;
}

.text-theme-blue-14, .text-theme-blue-14 * {
  color: #006686;
}

.border-theme-blue-14 {
  border-color: #006686 !important;
}

.bg-theme-blue-15 {
  background-color: #005570;
}

.text-theme-blue-15, .text-theme-blue-15 * {
  color: #005570;
}

.border-theme-blue-15 {
  border-color: #005570 !important;
}

.bg-theme-blue-16 {
  background-color: #004459;
}

.text-theme-blue-16, .text-theme-blue-16 * {
  color: #004459;
}

.border-theme-blue-16 {
  border-color: #004459 !important;
}

.bg-theme-blue-17 {
  background-color: #003343;
}

.text-theme-blue-17, .text-theme-blue-17 * {
  color: #003343;
}

.border-theme-blue-17 {
  border-color: #003343 !important;
}

.bg-theme-blue-18 {
  background-color: #00222d;
}

.text-theme-blue-18, .text-theme-blue-18 * {
  color: #00222d;
}

.border-theme-blue-18 {
  border-color: #00222d !important;
}

.bg-theme-blue-19 {
  background-color: #001116;
}

.text-theme-blue-19, .text-theme-blue-19 * {
  color: #001116;
}

.border-theme-blue-19 {
  border-color: #001116 !important;
}

/* ---------- */
.bg-theme-orange-1 {
  background-color: #ffefe8;
}

.text-theme-orange-1, .text-theme-orange-1 * {
  color: #ffefe8;
}

.border-theme-orange-1 {
  border-color: #ffefe8 !important;
}

.bg-theme-orange-2 {
  background-color: #ffe0d1;
}

.text-theme-orange-2, .text-theme-orange-2 * {
  color: #ffe0d1;
}

.border-theme-orange-2 {
  border-color: #ffe0d1 !important;
}

.bg-theme-orange-3 {
  background-color: #ffd0bb;
}

.text-theme-orange-3, .text-theme-orange-3 * {
  color: #ffd0bb;
}

.border-theme-orange-3 {
  border-color: #ffd0bb !important;
}

.bg-theme-orange-4 {
  background-color: #ffc1a4;
}

.text-theme-orange-4, .text-theme-orange-4 * {
  color: #ffc1a4;
}

.border-theme-orange-4 {
  border-color: #ffc1a4 !important;
}

.bg-theme-orange-5 {
  background-color: #ffb18d;
}

.text-theme-orange-5, .text-theme-orange-5 * {
  color: #ffb18d;
}

.border-theme-orange-5 {
  border-color: #ffb18d !important;
}

.bg-theme-orange-6 {
  background-color: #fea176;
}

.text-theme-orange-6, .text-theme-orange-6 * {
  color: #fea176;
}

.border-theme-orange-6 {
  border-color: #fea176 !important;
}

.bg-theme-orange-7 {
  background-color: #fe925f;
}

.text-theme-orange-7, .text-theme-orange-7 * {
  color: #fe925f;
}

.border-theme-orange-7 {
  border-color: #fe925f !important;
}

.bg-theme-orange-8 {
  background-color: #fe8249;
}

.text-theme-orange-8, .text-theme-orange-8 * {
  color: #fe8249;
}

.border-theme-orange-8 {
  border-color: #fe8249 !important;
}

.bg-theme-orange-9 {
  background-color: #fe7332;
}

.text-theme-orange-9, .text-theme-orange-9 * {
  color: #fe7332;
}

.border-theme-orange-9 {
  border-color: #fe7332 !important;
}

.bg-theme-orange-11 {
  background-color: #e55918;
}

.text-theme-orange-11, .text-theme-orange-11 * {
  color: #e55918;
}

.border-theme-orange-11 {
  border-color: #e55918 !important;
}

.bg-theme-orange-12 {
  background-color: #cb4f16;
}

.text-theme-orange-12, .text-theme-orange-12 * {
  color: #cb4f16;
}

.border-theme-orange-12 {
  border-color: #cb4f16 !important;
}

.bg-theme-orange-13 {
  background-color: #b24513;
}

.text-theme-orange-13, .text-theme-orange-13 * {
  color: #b24513;
}

.border-theme-orange-13 {
  border-color: #b24513 !important;
}

.bg-theme-orange-14 {
  background-color: #983b10;
}

.text-theme-orange-14, .text-theme-orange-14 * {
  color: #983b10;
}

.border-theme-orange-14 {
  border-color: #983b10 !important;
}

.bg-theme-orange-15 {
  background-color: #7f320e;
}

.text-theme-orange-15, .text-theme-orange-15 * {
  color: #7f320e;
}

.border-theme-orange-15 {
  border-color: #7f320e !important;
}

.bg-theme-orange-16 {
  background-color: #66280b;
}

.text-theme-orange-16, .text-theme-orange-16 * {
  color: #66280b;
}

.border-theme-orange-16 {
  border-color: #66280b !important;
}

.bg-theme-orange-17 {
  background-color: #4c1e08;
}

.text-theme-orange-17, .text-theme-orange-17 * {
  color: #4c1e08;
}

.border-theme-orange-17 {
  border-color: #4c1e08 !important;
}

.bg-theme-orange-18 {
  background-color: #331405;
}

.text-theme-orange-18, .text-theme-orange-18 * {
  color: #331405;
}

.border-theme-orange-18 {
  border-color: #331405 !important;
}

.bg-theme-orange-19 {
  background-color: #190a03;
}

.text-theme-orange-19, .text-theme-orange-19 * {
  color: #190a03;
}

.border-theme-orange-19 {
  border-color: #190a03 !important;
}

html, body, p, ul {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

section {
  padding: 2rem 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #1E1E1E;
}
a:hover {
  color: black;
}

.container-xl {
  padding: 0;
}
@media screen and (max-width: 1200) {
  .container-xl {
    padding: 1em;
  }
}

/* @font-face { font-family: 'Chanel-regular'; src: url('assets/fonts/ABChanel_Corpo-Regular_web.ttf'); } 
@font-face { font-family: 'Chanel-light'; src: url('assets/fonts/ABChanel_Corpo-Light_web.ttf'); } 
@font-face { font-family: 'Chanel-extralight'; src: url('assets/ABChanel_Corpo-Extra_Light_web.ttf'); } 
@font-face { font-family: 'Chanel-bold'; src: url('assets/ABChanel_Corpo-Semi_Bold_web.ttf'); } 
@font-face { font-family: 'Helvetica'; src: url('assets/fonts/Helvetica-Light.ttf'); } 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;600;700&display=swap'); */
body {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem !important;
  color: #1E1E1E !important;
}
@media screen and (min-width: 992px) {
  body {
    font-size: 0.85rem !important;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  font-weight: bold;
  margin-bottom: 10px;
}

.h1, h1 {
  font-size: 3.625rem;
  line-height: 150%;
  margin-bottom: 14px;
}

.h2, h2 {
  font-size: 2.375rem;
  line-height: 145%;
  margin-bottom: 14px;
}

.h3, h3 {
  font-size: 2rem;
  line-height: 140%;
}

.h4 {
  font-size: 1.75rem;
  line-height: 135%;
}

.h5, h5 {
  font-size: 1.5rem;
  line-height: 135%;
}

.h6, h6 {
  font-size: 1.25rem;
  line-height: 135%;
}

.para, p {
  font-size: 1rem;
  line-height: 170%;
  color: #1E1E1E;
  margin-bottom: 14px;
}

.font-primary {
  font-family: "Fira Sans", sans-serif;
}

.font-secondary {
  font-family: "Fira Sans", sans-serif;
}

.size-xs {
  font-size: 0.75rem;
}

.size-sm {
  font-size: 0.85rem;
}

.size-md {
  font-size: 1rem;
}

.size-lg {
  font-size: 1.25rem;
}

.size-xl {
  font-size: 1.5rem;
}

.weight-light {
  font-weight: 300;
}

.weight-regular {
  font-weight: 400;
}

.weight-medium, header .navbar .nav-link.active {
  font-weight: 500;
}

.weight-semibold {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

.weight-extrabold {
  font-weight: 800;
}

header .navbar-brand {
  display: block;
  width: 129px;
  height: 100px;
  text-indent: -500px;
  overflow: hidden;
  background-image: url("/img/website/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 968px) {
  header .navbar-brand {
    height: 75px;
  }
}
header .navbar .nav-link {
  font-size: 16px;
  color: #1E1E1E;
  margin-right: 1.25em;
  border-bottom: 5px solid white;
  /*         @include media-breakpoint-max(992px){
              border-left: 5px solid white;
              border-bottom-width: 0;
              padding-left: 15px;
          } */
}
@media screen and (max-width: 768px) {
  header .navbar .nav-link {
    margin-right: 0em;
    padding: 12px 0 4px 0;
  }
}
header .navbar .nav-link:hover {
  border-bottom: 5px solid #FFEEB5;
  color: #000000;
  /*             @include media-breakpoint-max(992px){
                  border-left: 5px solid $theme-accent-verylight;
                  border-bottom-width: 0;
                  padding-left: 15px;

              } */
}
header .navbar .nav-item:last-child .nav-link {
  margin-right: 0;
}
header .navbar .nav-link.active {
  border-bottom: 5px solid #FFC500;
  color: #000000;
  /*         @include media-breakpoint-max(992px){
              border-left: 5px solid $theme-accent;
              border-bottom-width: 0;
              padding-left: 15px;
          } */
}
header .navbar .navbar-toggler {
  padding: 3px;
}
header .navbar .navbar-toggler svg {
  width: 40px;
  height: 40px;
  color: #1E1E1E;
}
header .navbar .offcanvas-body {
  padding-top: 0;
}
header .nav-item:last-child .dropdown-menu {
  right: 0;
}
header .dropdown {
  font-size: 16px;
}
header .dropdown ul.dropdown-menu {
  padding: 0;
  border-width: 0;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}
@media screen and (max-width: 798px) {
  header .dropdown ul.dropdown-menu {
    border-radius: 0;
  }
}
header .dropdown .nav-link.show {
  color: #000000;
}
@media screen and (min-width: 798px) {
  header .dropdown .nav-link.show {
    border-bottom: 5px solid #1E1E1E;
  }
}
header .dropdown .dropdown-item {
  padding: 0.6em 0.8em;
}
header .dropdown .dropdown-item:hover {
  background-color: #FFC500;
  color: #000000;
}
header .dropdown .dropdown-item.active, header .dropdown .dropdown-item.active:hover {
  background-color: #FFA100;
  color: #000000;
}

.neel-slider {
  padding-bottom: 14px;
}
.neel-slider .neelan-prev {
  left: 15px;
}
@media screen and (max-width: 768px) {
  .neel-slider .neelan-prev {
    left: 2px;
  }
}
.neel-slider .neelan-next {
  right: 15px;
}
@media screen and (max-width: 768px) {
  .neel-slider .neelan-next {
    right: 2px;
  }
}
.neel-slider .slick-list {
  z-index: 100;
}
.neel-slider .neelan-arrow {
  z-index: 101;
  position: absolute;
  top: 46%;
  cursor: pointer;
}
@media screen and (min-width: 968px) {
  .neel-slider .neelan-arrow {
    opacity: 0;
  }
}
@media screen and (min-width: 968px) {
  .neel-slider:hover .neelan-arrow {
    opacity: 1;
  }
}
.neel-slider .slick-dots {
  z-index: 102;
  bottom: -10px;
}
@media screen and (max-width: 768px) {
  .neel-slider .slick-dots {
    bottom: -8px;
  }
}
@media screen and (min-width: 968px) {
  .neel-slider .slick-dots {
    opacity: 0;
  }
}
.neel-slider .slick-dots li button, .neel-slider .slick-dots li {
  width: 35px;
  height: 8px;
}
@media screen and (max-width: 768px) {
  .neel-slider .slick-dots li button, .neel-slider .slick-dots li {
    width: 45px;
    height: 10px;
  }
}
.neel-slider .slick-dots li button:before {
  background-color: #1E1E1E;
  content: "";
  width: 35px;
  height: 8px;
}
@media screen and (max-width: 768px) {
  .neel-slider .slick-dots li button:before {
    width: 45px;
    height: 10px;
  }
}
@media screen and (min-width: 968px) {
  .neel-slider:hover .slick-dots {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 50% transparent black */
  z-index: 1000; /* Ensure it's above other content */
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.opacity-75 {
  opacity: 0.75;
  filter: alpha(opacity=75);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.opacity-50 {
  opacity: 0.5;
  filter: alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.opacity-25 {
  opacity: 0.25;
  filter: alpha(opacity=25);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.opacity-hover-100:hover {
  filter: alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  opacity: 1 !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.opacity-hover-75:hover {
  filter: alpha(opacity=75);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  opacity: 0.75 !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.opacity-hover-50:hover {
  filter: alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  opacity: 0.5 !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.opacity-hover-25:hover {
  filter: alpha(opacity=25);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
  opacity: 0.25 !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.shadow, header .dropdown ul.dropdown-menu {
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.08) !important;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.08) !important;
  -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.08) !important;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  margin: 0;
}

.col {
  padding: 0;
}

.link, p a {
  color: #FF8A00 !important;
}
.link:hover, p a:hover {
  text-decoration: underline;
  color: #bb6400 !important;
}

.btn {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.btn-primary:hover {
  background-color: #FFC500;
  border-color: #FFC500;
}

content {
  padding: 0;
}

.curve-line {
  background-image: url(/img/website/line-shape-8.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 13px;
}

body {
  background-color: #ffffff;
  line-height: 125%;
}

.container-fluid {
  max-width: 1870px;
}

@media screen and (min-width: 992px) {
  #myfill-height {
    min-height: calc(100vh - 116px - 53px);
  }
}/*# sourceMappingURL=website.css.map */