.container-xl{ 
    transition:0s!important; opacity: 1 !important;
    /* animation: fadeIn 0.25s ease-in-out ; */
} 
*, .container-xl *{transition: 0s!important;} 

*{transition: 0s!important;}
html, body{background-color: transparent!important;}
/*   
  @keyframes fadeIn {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  } */
