#header-right{display: none!important;width:0px;}
/* header .title{margin-left:225px;} */
/* header .row{flex-direction:row-reverse;} */
header{padding-right:0!important;}
header .row .col-md-4{width:50%!important;}


header .col-md-4:nth-child(2){justify-content: end!important;padding: 0!important;margin-bottom: 0.4em;} 
.logo{ margin-top: 1em!important;margin-bottom: 1em!important;}

 .my-row-2 .col-sm-4:nth-child(2), .my-row-3 .col-sm-4:nth-child(1),.my-row-3 .col-sm-4:nth-child(3), 
 .my-row-2 .col-sm-4:nth-child(3) span.d-block, 
 .my-row-2 .col-sm-4:nth-child(1) h4:nth-child(2)
 {display: none!important;} 

 .my-row-2 .col-sm-4:nth-child(1) p{display: none!important;} 
 .my-row-2 .col-sm-4:nth-child(1) span.d-block p {display: inline-block!important; ;} 
 .my-row-2 .col-sm-4:nth-child(3){ text-align: end;} 
 .my-row-2 .col-sm-4:nth-child(1){ padding-left: 0.5em!important;} 

 .my-row-2 .col-sm-4,  .my-row-3 .col-sm-4{width:50%!important;} 
 .my-row-2{padding:0;}
 .my-row-2 .col-sm-4:nth-child(1) span.d-block{text-align: start;}

/*  .my-row-3{justify-content: center;} */
#sec-notes .align-self-stretch{padding:0!important; }
.product-total{margin-top:0.5em!important;  }
.product-total tr{  border-top:initial!important;}
.my-row-3{padding: 0.25em!important;}
.Xmy-row-3, footer{display: none!important;} 
#sec-notes .align-self-stretch .my-notes {display: none!important;} 
main{padding-top:4px;}
.container-xl{max-width:400px!important;}
.product th:nth-child(3), .product td:nth-child(3), .product th:nth-child(1), .product td:nth-child(1){display: none!important;} 
.product{font-size:12px!important;}
.product td:nth-child(2), .product-total{font-size:13px!important;}

.product th:nth-child(2), .product td:nth-child(2){padding: 1em 0 1em 1em!important;}
.sec-sign-left,.sec-sign-right{padding: 0!important;}
.sec-sign-left h4:not(td h4), .sec-sign-left p{display: none!important;} 

.sec-sign-right {display: none!important;} 
#sec-sign .justify-content-between{justify-content: center!important;padding: 0!important;}

#sec-sign .d-sm-flex{display: block!important;}
#sec-sign{width: 100%!important;padding:0 0.5em !important;}

/* mobile */
@media screen and (max-width:768px) {
    header .row .col-md-4,#header-left,.my-row-3 .col-sm-4{width:100%!important;}   
}
.mob-products .hover-underline,.mob-pro-right tr:first-child{display: none!important;} 
.mob-products *{font-size:12px!important;}
.mob-product-row .p-2{padding:0.25em!important;}
.my-row-3 .mb-4{margin-bottom: 0em!important;}


.logo{height: 47px!important;}
header .title{    padding: 1em 2em!important;margin-top: 0.4em;}
.track-ship td{padding: 0!important;}
.my-row-3 *, .my-row-2 *{font-size: 13px!important;}
.my-row-3 br{display: none!important; width:10px; margin-left: 0.5em!important;}
.my-row-3 b{ margin-left: 0.5em!important;}
.my-row-3 .col-sm-4{width: 100%!important;}

.track-ship, .my-row-3{display: none!important;}